@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
	padding: 50px;
    font-family: 'Noto Sans KR', sans-serif !important;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgb(239, 239, 239) !important;
}
a {
	color: #00B7FF;
  }
  
