doctype html
html
	head
		meta(charset='utf-8')
		title main
		link(rel='stylesheet', type='text/css', href='/css/style.css')
		link(rel='stylesheet', type='text/css', href='/Assets/Semantic-UI/semantic.min.css')
		script(src='/Assets/jquery/jquery-3.2.1.min.js')
		script(src='/Assets/jquery-ui/jquery-ui.min.js')
		script(src='/Assets/Semantic-UI/semantic.min.js')
	body
		ul#account
			if user
				li
					a(href='/auth/logout') Logout		
			else
				li
					a(href='/auth/register') Register